@font-face {
  font-family: 'graviton';
  src:  url('../fonts/graviton.eot?5g9ehz');
  src:  url('../fonts/graviton.eot?5g9ehz#iefix') format('embedded-opentype'),
    url('../fonts/graviton.ttf?5g9ehz') format('truetype'),
    url('../fonts/graviton.woff?5g9ehz') format('woff'),
    url('../fonts/graviton.svg?5g9ehz#graviton') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="g-"], [class*=" g-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'graviton' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.g-paypal:before {
  content: "\ea0c";
}
.g-github-solid:before {
  content: "\ea0b";
}
.g-graviton:before {
  content: "\ea0a";
}
.g-activity:before {
  content: "\e900";
}
.g-airplay:before {
  content: "\e901";
}
.g-alert-circle:before {
  content: "\e902";
}
.g-alert-octagon:before {
  content: "\e903";
}
.g-alert-triangle:before {
  content: "\e904";
}
.g-align-center:before {
  content: "\e905";
}
.g-align-justify:before {
  content: "\e906";
}
.g-align-left:before {
  content: "\e907";
}
.g-align-right:before {
  content: "\e908";
}
.g-anchor:before {
  content: "\e909";
}
.g-aperture:before {
  content: "\e90a";
}
.g-archive:before {
  content: "\e90b";
}
.g-arrow-down:before {
  content: "\e90c";
}
.g-arrow-down-circle:before {
  content: "\e90d";
}
.g-arrow-down-left:before {
  content: "\e90e";
}
.g-arrow-down-right:before {
  content: "\e90f";
}
.g-arrow-left:before {
  content: "\e910";
}
.g-arrow-left-circle:before {
  content: "\e911";
}
.g-arrow-right:before {
  content: "\e912";
}
.g-arrow-right-circle:before {
  content: "\e913";
}
.g-arrow-up:before {
  content: "\e914";
}
.g-arrow-up-circle:before {
  content: "\e915";
}
.g-arrow-up-left:before {
  content: "\e916";
}
.g-arrow-up-right:before {
  content: "\e917";
}
.g-at-sign:before {
  content: "\e918";
}
.g-award:before {
  content: "\e919";
}
.g-bar-chart:before {
  content: "\e91a";
}
.g-bar-chart-2:before {
  content: "\e91b";
}
.g-battery:before {
  content: "\e91c";
}
.g-battery-charging:before {
  content: "\e91d";
}
.g-bell:before {
  content: "\e91e";
}
.g-bell-off:before {
  content: "\e91f";
}
.g-bluetooth:before {
  content: "\e920";
}
.g-bold:before {
  content: "\e921";
}
.g-book:before {
  content: "\e922";
}
.g-book-open:before {
  content: "\e923";
}
.g-bookmark:before {
  content: "\e924";
}
.g-box:before {
  content: "\e925";
}
.g-briefcase:before {
  content: "\e926";
}
.g-calendar:before {
  content: "\e927";
}
.g-camera:before {
  content: "\e928";
}
.g-camera-off:before {
  content: "\e929";
}
.g-cast:before {
  content: "\e92a";
}
.g-check:before {
  content: "\e92b";
}
.g-check-circle:before {
  content: "\e92c";
}
.g-check-square:before {
  content: "\e92d";
}
.g-chevron-down:before {
  content: "\e92e";
}
.g-chevron-left:before {
  content: "\e92f";
}
.g-chevron-right:before {
  content: "\e930";
}
.g-chevron-up:before {
  content: "\e931";
}
.g-chevrons-down:before {
  content: "\e932";
}
.g-chevrons-left:before {
  content: "\e933";
}
.g-chevrons-right:before {
  content: "\e934";
}
.g-chevrons-up:before {
  content: "\e935";
}
.g-chrome:before {
  content: "\e936";
}
.g-circle:before {
  content: "\e937";
}
.g-clipboard:before {
  content: "\e938";
}
.g-clock:before {
  content: "\e939";
}
.g-cloud:before {
  content: "\e93a";
}
.g-cloud-drizzle:before {
  content: "\e93b";
}
.g-cloud-lightning:before {
  content: "\e93c";
}
.g-cloud-off:before {
  content: "\e93d";
}
.g-cloud-rain:before {
  content: "\e93e";
}
.g-cloud-snow:before {
  content: "\e93f";
}
.g-code:before {
  content: "\e940";
}
.g-codepen:before {
  content: "\e941";
}
.g-command:before {
  content: "\e942";
}
.g-compass:before {
  content: "\e943";
}
.g-copy:before {
  content: "\e944";
}
.g-corner-down-left:before {
  content: "\e945";
}
.g-corner-down-right:before {
  content: "\e946";
}
.g-corner-left-down:before {
  content: "\e947";
}
.g-corner-left-up:before {
  content: "\e948";
}
.g-corner-right-down:before {
  content: "\e949";
}
.g-corner-right-up:before {
  content: "\e94a";
}
.g-corner-up-left:before {
  content: "\e94b";
}
.g-corner-up-right:before {
  content: "\e94c";
}
.g-cpu:before {
  content: "\e94d";
}
.g-credit-card:before {
  content: "\e94e";
}
.g-crop:before {
  content: "\e94f";
}
.g-crosshair:before {
  content: "\e950";
}
.g-database:before {
  content: "\e951";
}
.g-delete:before {
  content: "\e952";
}
.g-disc:before {
  content: "\e953";
}
.g-dollar-sign:before {
  content: "\e954";
}
.g-download:before {
  content: "\e955";
}
.g-download-cloud:before {
  content: "\e956";
}
.g-droplet:before {
  content: "\e957";
}
.g-edit:before {
  content: "\e958";
}
.g-edit-2:before {
  content: "\e959";
}
.g-edit-3:before {
  content: "\e95a";
}
.g-external-link:before {
  content: "\e95b";
}
.g-eye:before {
  content: "\e95c";
}
.g-eye-off:before {
  content: "\e95d";
}
.g-facebook:before {
  content: "\e95e";
}
.g-fast-forward:before {
  content: "\e95f";
}
.g-feather:before {
  content: "\e960";
}
.g-file:before {
  content: "\e961";
}
.g-file-minus:before {
  content: "\e962";
}
.g-file-plus:before {
  content: "\e963";
}
.g-file-text:before {
  content: "\e964";
}
.g-film:before {
  content: "\e965";
}
.g-filter:before {
  content: "\e966";
}
.g-flag:before {
  content: "\e967";
}
.g-folder:before {
  content: "\e968";
}
.g-folder-minus:before {
  content: "\e969";
}
.g-folder-plus:before {
  content: "\e96a";
}
.g-gift:before {
  content: "\e96b";
}
.g-git-branch:before {
  content: "\e96c";
}
.g-git-commit:before {
  content: "\e96d";
}
.g-git-merge:before {
  content: "\e96e";
}
.g-git-pull-request:before {
  content: "\e96f";
}
.g-github:before {
  content: "\e970";
}
.g-gitlab:before {
  content: "\e971";
}
.g-globe:before {
  content: "\e972";
}
.g-grid:before {
  content: "\e973";
}
.g-hard-drive:before {
  content: "\e974";
}
.g-hash:before {
  content: "\e975";
}
.g-headphones:before {
  content: "\e976";
}
.g-heart:before {
  content: "\e977";
}
.g-help-circle:before {
  content: "\e978";
}
.g-home:before {
  content: "\e979";
}
.g-image:before {
  content: "\e97a";
}
.g-inbox:before {
  content: "\e97b";
}
.g-info:before {
  content: "\e97c";
}
.g-instagram:before {
  content: "\e97d";
}
.g-italic:before {
  content: "\e97e";
}
.g-layers:before {
  content: "\e97f";
}
.g-layout:before {
  content: "\e980";
}
.g-life-buoy:before {
  content: "\e981";
}
.g-link:before {
  content: "\e982";
}
.g-link-2:before {
  content: "\e983";
}
.g-linkedin:before {
  content: "\e984";
}
.g-list:before {
  content: "\e985";
}
.g-loader:before {
  content: "\e986";
}
.g-lock:before {
  content: "\e987";
}
.g-log-in:before {
  content: "\e988";
}
.g-log-out:before {
  content: "\e989";
}
.g-mail:before {
  content: "\e98a";
}
.g-map:before {
  content: "\e98b";
}
.g-map-pin:before {
  content: "\e98c";
}
.g-maximize:before {
  content: "\e98d";
}
.g-maximize-2:before {
  content: "\e98e";
}
.g-menu:before {
  content: "\e98f";
}
.g-message-circle:before {
  content: "\e990";
}
.g-message-square:before {
  content: "\e991";
}
.g-mic:before {
  content: "\e992";
}
.g-mic-off:before {
  content: "\e993";
}
.g-minimize:before {
  content: "\e994";
}
.g-minimize-2:before {
  content: "\e995";
}
.g-minus:before {
  content: "\e996";
}
.g-minus-circle:before {
  content: "\e997";
}
.g-minus-square:before {
  content: "\e998";
}
.g-monitor:before {
  content: "\e999";
}
.g-moon:before {
  content: "\e99a";
}
.g-more-horizontal:before {
  content: "\e99b";
}
.g-more-vertical:before {
  content: "\e99c";
}
.g-move:before {
  content: "\e99d";
}
.g-music:before {
  content: "\e99e";
}
.g-navigation:before {
  content: "\e99f";
}
.g-navigation-2:before {
  content: "\e9a0";
}
.g-octagon:before {
  content: "\e9a1";
}
.g-package:before {
  content: "\e9a2";
}
.g-paperclip:before {
  content: "\e9a3";
}
.g-pause:before {
  content: "\e9a4";
}
.g-pause-circle:before {
  content: "\e9a5";
}
.g-percent:before {
  content: "\e9a6";
}
.g-phone:before {
  content: "\e9a7";
}
.g-phone-call:before {
  content: "\e9a8";
}
.g-phone-forwarded:before {
  content: "\e9a9";
}
.g-phone-incoming:before {
  content: "\e9aa";
}
.g-phone-missed:before {
  content: "\e9ab";
}
.g-phone-off:before {
  content: "\e9ac";
}
.g-phone-outgoing:before {
  content: "\e9ad";
}
.g-pie-chart:before {
  content: "\e9ae";
}
.g-play:before {
  content: "\e9af";
}
.g-play-circle:before {
  content: "\e9b0";
}
.g-plus:before {
  content: "\e9b1";
}
.g-plus-circle:before {
  content: "\e9b2";
}
.g-plus-square:before {
  content: "\e9b3";
}
.g-pocket:before {
  content: "\e9b4";
}
.g-power:before {
  content: "\e9b5";
}
.g-printer:before {
  content: "\e9b6";
}
.g-radio:before {
  content: "\e9b7";
}
.g-refresh-ccw:before {
  content: "\e9b8";
}
.g-refresh-cw:before {
  content: "\e9b9";
}
.g-repeat:before {
  content: "\e9ba";
}
.g-rewind:before {
  content: "\e9bb";
}
.g-rotate-ccw:before {
  content: "\e9bc";
}
.g-rotate-cw:before {
  content: "\e9bd";
}
.g-rss:before {
  content: "\e9be";
}
.g-save:before {
  content: "\e9bf";
}
.g-scissors:before {
  content: "\e9c0";
}
.g-search:before {
  content: "\e9c1";
}
.g-send:before {
  content: "\e9c2";
}
.g-server:before {
  content: "\e9c3";
}
.g-settings:before {
  content: "\e9c4";
}
.g-share:before {
  content: "\e9c5";
}
.g-share-2:before {
  content: "\e9c6";
}
.g-shield:before {
  content: "\e9c7";
}
.g-shield-off:before {
  content: "\e9c8";
}
.g-shopping-bag:before {
  content: "\e9c9";
}
.g-shopping-cart:before {
  content: "\e9ca";
}
.g-shuffle:before {
  content: "\e9cb";
}
.g-sidebar:before {
  content: "\e9cc";
}
.g-skip-back:before {
  content: "\e9cd";
}
.g-skip-forward:before {
  content: "\e9ce";
}
.g-slack:before {
  content: "\e9cf";
}
.g-slash:before {
  content: "\e9d0";
}
.g-sliders:before {
  content: "\e9d1";
}
.g-smartphone:before {
  content: "\e9d2";
}
.g-speaker:before {
  content: "\e9d3";
}
.g-square:before {
  content: "\e9d4";
}
.g-star:before {
  content: "\e9d5";
}
.g-stop-circle:before {
  content: "\e9d6";
}
.g-sun:before {
  content: "\e9d7";
}
.g-sunrise:before {
  content: "\e9d8";
}
.g-sunset:before {
  content: "\e9d9";
}
.g-tablet:before {
  content: "\e9da";
}
.g-tag:before {
  content: "\e9db";
}
.g-target:before {
  content: "\e9dc";
}
.g-terminal:before {
  content: "\e9dd";
}
.g-thermometer:before {
  content: "\e9de";
}
.g-thumbs-down:before {
  content: "\e9df";
}
.g-thumbs-up:before {
  content: "\e9e0";
}
.g-toggle-left:before {
  content: "\e9e1";
}
.g-toggle-right:before {
  content: "\e9e2";
}
.g-trash:before {
  content: "\e9e3";
}
.g-trash-2:before {
  content: "\e9e4";
}
.g-trending-down:before {
  content: "\e9e5";
}
.g-trending-up:before {
  content: "\e9e6";
}
.g-triangle:before {
  content: "\e9e7";
}
.g-truck:before {
  content: "\e9e8";
}
.g-tv:before {
  content: "\e9e9";
}
.g-twitter:before {
  content: "\e9ea";
}
.g-type:before {
  content: "\e9eb";
}
.g-umbrella:before {
  content: "\e9ec";
}
.g-underline:before {
  content: "\e9ed";
}
.g-unlock:before {
  content: "\e9ee";
}
.g-upload:before {
  content: "\e9ef";
}
.g-upload-cloud:before {
  content: "\e9f0";
}
.g-user:before {
  content: "\e9f1";
}
.g-user-check:before {
  content: "\e9f2";
}
.g-user-minus:before {
  content: "\e9f3";
}
.g-user-plus:before {
  content: "\e9f4";
}
.g-user-x:before {
  content: "\e9f5";
}
.g-users:before {
  content: "\e9f6";
}
.g-video:before {
  content: "\e9f7";
}
.g-video-off:before {
  content: "\e9f8";
}
.g-voicemail:before {
  content: "\e9f9";
}
.g-volume:before {
  content: "\e9fa";
}
.g-volume-1:before {
  content: "\e9fb";
}
.g-volume-2:before {
  content: "\e9fc";
}
.g-volume-x:before {
  content: "\e9fd";
}
.g-watch:before {
  content: "\e9fe";
}
.g-wifi:before {
  content: "\e9ff";
}
.g-wifi-off:before {
  content: "\ea00";
}
.g-wind:before {
  content: "\ea01";
}
.g-x:before {
  content: "\ea02";
}
.g-x-circle:before {
  content: "\ea03";
}
.g-x-square:before {
  content: "\ea04";
}
.g-youtube:before {
  content: "\ea05";
}
.g-zap:before {
  content: "\ea06";
}
.g-zap-off:before {
  content: "\ea07";
}
.g-zoom-in:before {
  content: "\ea08";
}
.g-zoom-out:before {
  content: "\ea09";
}
